.banner {
    .background-banner {


        position: center center;
        repeat: no-repeat;
        size: cover;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        z-index: -100;
    }

    .button-image {
        position: absolute;
        top: 67%;
        /* Thay đổi giá trị này để điều chỉnh vị trí theo chiều dọc */
        left: 69%;
        /* Thay đổi giá trị này để điều chỉnh vị trí theo chiều ngang */
        transform: translate(-50%, -50%);
        /* Đảm bảo nút luôn ở giữa */
        /* width: 10vw; */
        /* Thay đổi giá trị này để điều chỉnh độ rộng */
        height: 8vh;
        /* Thay đổi giá trị này để điều chỉnh độ cao */
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    .click-me {
        position: absolute;
        top: 74%;
        /* Thay đổi giá trị này để điều chỉnh vị trí theo chiều dọc */
        left: 69%;
        /* Thay đổi giá trị này để điều chỉnh vị trí theo chiều ngang */
        transform: translate(-50%, -50%);
        /* Đảm bảo nút luôn ở giữa */
        /* width: 10vw; */
        /* Thay đổi giá trị này để điều chỉnh độ rộng */
        height: 3vh;
        /* Thay đổi giá trị này để điều chỉnh độ cao */
        margin: 0;
        padding: 0;
    }

    .arrow-gif {

        position: relative;
        top: 390px;
        left: 780px;
        transform: scaleY(-1) rotate(-60deg);
        width: 75%;
        height: 75%;
    }

}